<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6XWqYzBhhZmTuYU1ZdArjT-x5mRn-lbY</string>
	<key>GCM_SENDER_ID</key>
	<string>238647026188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examplessssssssss.notes</string>
	<key>PROJECT_ID</key>
	<string>eshannotes</string>
	<key>STORAGE_BUCKET</key>
	<string>eshannotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238647026188:ios:42b0cfc7d6e3bf63624429</string>
</dict>
</plist>